.page-contact {
  h4{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
}

.contact__ce{
  .wrapper{
    display: grid;
    grid-template-areas: "t1 a1"
    "a2 a1";
    grid-template-columns: 2fr 1fr;
    h4{
      grid-area: t1;
    }
    > div:nth-of-type(1){
      grid-area: a2;
    }
    > div:nth-of-type(2){
      grid-area: a1;
      background: url('../img/contact/ce.jpg') center/cover;
      margin-right: 3rem;
    }
  }
}

.contact__en{
  background-color: #eff6fa;
  .wrapper{
    display: grid;
    grid-template-areas: "a1 t1"
    "a1 a2";
    grid-template-columns: 1fr 2fr;
    h4{
      grid-area: t1;
    }
    > div:nth-of-type(1){
      grid-area: a2;
    }
    > div:nth-of-type(2){
      grid-area: a1;
      background: url('../img/contact/en.jpg') center/cover;
      margin-right: 3rem;
    }
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

.box {
  position: relative;
  width: auto;
  height: 75px;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 10px 10px 15px rgba(59, 38, 38, 0.25);
}
.box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  background: var(--color);
  transition: 0.5s ease-in-out;
}

.box:hover::before {
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.box .content {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.box .content .icon {
  position: relative;
  min-width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: var(--color);
  transition: 0.5s ease-in-out;
}

.box:hover .content .icon {
  color: #fff;
}

.box .content .text h3 {
  font-weight: 500;
  color: var(--color);
  transition: 0.5s ease-in-out;
}

.box .content .text p {
  font-size: 0.9em;
  color: #999;
  transition: 0.5s ease-in-out;
}

.box:hover .content .text h3,
.box:hover .content .text p {
  color: #fff;
}