.news{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  grid-template-areas: 
  "title title"
  "news1 news2"
  ;
  .section_title{
    grid-area: title;
    margin-bottom: 2rem;
  }
  &__primary{
    grid-area: news1;
  }
  &__secondary{
    grid-area: news2;
  }
  .h2{
    font-size: 2.8rem;
    font-weight: 500;
  }
}
.news__primary__card{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  &:hover > div:nth-of-type(2){
    color: orange;
    transition: .3s all ease-in-out;
  }
  > div:nth-of-type(1){
    width: 100%;
    height: 300px;
    overflow: hidden;
    img{
      width: 100%;
    }
  }
  > div:nth-of-type(2),> div:nth-of-type(3),> div:nth-of-type(4),> div:nth-of-type(5){
    width: 80%;
    margin: 0 auto;
    padding: 1rem 1rem 0 1rem;
  }
  > div:nth-of-type(2){
    background-color: $color-white;
    position: relative;
    top: -3rem;
  }
  > div:nth-of-type(5){
    padding-bottom: 1rem;
  }
  hr{
    width: 30%;
    margin: 0 auto;
  }
  > div:nth-of-type(3){
    display: flex;
    gap: 0.5rem;
    a{
      color: #2e73b8;
      font-size: 0.7rem;
      display: block;
      width: fit-content;
      border: 1px solid #2e73b8;
      padding: 0.3rem;
    }
  }
  h3{
    font-size: 1.3rem;
    text-align: center;
  }
  p{
    font-size: 0.9rem;
  }
}
.news__secondary{
  display: grid;
  grid-template-areas: 
  "art1 art2"
  "art3 art3"
  ;
  gap: 2rem;
  .card1{
    grid-area: art1;
  }
  .card2{
    grid-area: art2;
  }
  .card3{
    grid-area: art3;
  }
  // .card4{
  //   grid-area: art4;
  // }
}
.news__secondary__card{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  height: 450px;
  &:hover > div:nth-of-type(2){
    color: orange;
    transition: .3s all ease-in-out;
  }
  &__title{
    font-size: 1.1rem;
    padding: 10px;
    height: 15%;
    border-bottom: 1px solid $color-text;
  }
  &__tag{
    font-size: 0.7rem;
    padding: 10px 10px 0 10px;
  }
  &__text{
    font-size: 0.9rem;
    padding: 0 10px;
  }
  &__cta{
    border: 1px solid $color-text;
    padding: 0.6rem;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: auto;
    background-color: $color-text;
    color: $color-white;
    display: block;
    width: fit-content;
    transition: .3s ease-in-out all;
    &:hover{
      border: 1px solid $color-text;
      color: $color-text;
      background-color: transparent;
    }
  }
  > div:nth-of-type(1){
    width: 100%;
    height: 180px;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover
    }
  }
}
.card3{
  flex-direction: row;
  height: fit-content;
  display: grid;
  grid-template-areas: "img title"
  "img tag"
  "img text"
  "img cta";
  > div:nth-of-type(1){
    grid-area: img;
    background: url('../img/news/adobe-creative-cloud.jpg') center/cover;
    height: 100%;
    width: 350px;
  }
  .news__secondary__card__title{
    grid-area: title;
    height: 100%;
  }
  .news__secondary__card__tag{
    grid-area: tag;
  }
  .news__secondary__card__text{
    grid-area: text;
  }
  .news__secondary__card__cta{
    grid-area: cta;
  }
}

.session__info{
  background-color: #EFF6FA;
  .wrapper{
    display: grid;
    grid-template-areas: "title title"
    "formation calendar";
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
  .h2{
    font-size: 2.8rem;
    font-weight: 500;
  }
  .session__section{
    grid-area: title;
  }
  &__formation{
    grid-area: formation;
    border-right: 1px solid $color-text;
    padding-right: 4rem;
    display: flex;
    flex-direction: column;
  }
  &__calendar{
    grid-area: calendar;
    padding-left: 2rem;

  }
}
.session__info__formation__card{
  display: grid;
  grid-template-areas: "title title"
  "text cta";
  grid-template-columns: 2fr 1fr;
  border: 1px solid $color-text;
  gap: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: white;
  &__title{
    grid-area: title;
    border-bottom: 1px solid $color-text;
    padding-bottom: 1rem;
    font-size: 1.2rem;
  }
  &__text{
    grid-area: text;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    p{
      margin: 0;
      font-weight: 600;
    }
    p:nth-child(1){
      margin-bottom: 1rem;
    }
    span{
      display: block;
      font-weight: 500;
    }
  }
  &__cta{
    grid-area: cta;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    a{
      border: 1px solid $color-text;
      padding: 0.8rem;
      background-color: $color-text;
      color: $color-white;
      display: block;
      width: fit-content;
      transition: .3s ease-in-out all;
      &:hover{
        border: 1px solid $color-text;
        color: $color-text;
        background-color: transparent;
      }
    }
  }
}
.session__info__formation__more{
  margin-top: auto;
  a{
    border: 1px solid $color-text;
    padding: 0.8rem;
    background-color: transparent;
    color: $color-text;
    display: block;
    width: fit-content;
    transition: .3s ease-in-out all;
    &:hover{
      border: 1px solid $color-text;
      color: $color-white;
      background-color: $color-text;
    }
  }
}
.session__info__calendar{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  &__card{
    display: flex;
    gap: 2rem;
    &__date{
      background-color: white;
      border-radius: 5px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      span{
        display: block;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
    &__text{
      font-size: 1.3rem;
      font-weight: 500;
    }
  }
}
.session__info__calendar__more{
  margin-top: auto;
  a{
    border: 1px solid $color-text;
    padding: 0.8rem;
    background-color: transparent;
    color: $color-text;
    display: block;
    width: fit-content;
    transition: .3s ease-in-out all;
    &:hover{
      border: 1px solid $color-text;
      color: $color-white;
      background-color: $color-text;
    }
  }
}



.result{
  background: #144070;
  color: white;
  .wrapper{
    display: block !important;
  }
  h2{
    font-size: 2.7rem;
    margin-bottom: 2rem;
  }
  &__content{
    display: flex;
    gap: 1rem;
    > div{
      width: calc(100%/3);
      padding: 1rem;
      border: 1px solid white;
      border-radius: 5px;
      background-color: rgba($color: #ffffff, $alpha: 0.1);
      span:nth-of-type(1){
        display: block;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }
      span:nth-of-type(2){
        display: block;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 300;
      }
    }
  }
}

.partenaires__logo{
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  img{
    width: 100px;
  }
}